# Ignore Spark artifacts
notebooks/artifacts/

# Ignore input data parquets (too large for GitHub)
data/input_data/*.parquet

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore Jupyter
.ipynb_checkpoints/

# Ignore environment files
.env
venv/
env/
